 /*The body has no margin*/
body {margin:0;}
/* The navigation bar */
.header {
/*  overflow: hidden;*/
  background-color: #2290A6;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/*the header left side*/
.header a {
  float: left;
/*  display: block;*/
  color: white;
  text-align: center;
  padding: 16px 18px;
  text-decoration: none;
  font-family:sans-serif;
  font-size:20px;
}

/*The header right side*/
.header b {
  float: right;
/*  display: block;*/
  color: white;
  text-align: center;
  padding: 18px 18px 5px 5px;
  text-decoration: none;
  font-family:sans-serif;
  font-weight:5;
}

/* Main content */
/*.main {
  margin-top: 30px;  Add a top margin to avoid content overlay 
}*/