body {margin:0;}

.sidebar {
  margin-top: 55px;
  height: 100%;
  width: 600px;
  /*width:35%;*/
  position: fixed;
  z-index: 1;
  left: 0;
  background-color: #F8F8F8;
  overflow-x: hidden;
  /*padding-top: 20px;*/
  box-shadow: -1px 0px 0px 0px #DCDCDC, 1px 0px 0px 0px #DCDCDC;
  font-family: sans-serif;
/*  outline-color: #DCDCDC;
  outline-width: 1px;
  outline-style:dashed;*/
}

.filters{
	position:relative;
	margin-top:10px;
	margin-left:5%;
	margin-bottom:25px;
}

.sidebar-category{
	position:relative;
	font-family: sans-serif;
	margin-left:3%;
	color:#505050;
	font-size:1em;
	font-weight:20;
	/*margin-top:15px;*/
}

.filter-block{
	box-shadow: 0px 1px 0px 0px #DCDCDC;
	margin-top:15px;
	padding-bottom:15px;
}

.drapbar-block{
	box-shadow: 0px 1px 0px 0px #DCDCDC;
	margin-top:20px;
	padding-bottom:30px;
}

.drag{
	positive:relative;
	padding-top:0.5em;
	margin-top: 5px;
	margin-left:200px;
	margin-bottom:30px;
	width:300px;
}

/*.tab{
	positive:relative;
	margin-top: 5px;
	margin-left:200px;
	margin-bottom:30px;
	width:300px;
}*/

input{
/*	margin-left:3%;*/
	position:fixed;
}

/*make square same column*/
.checkbox1{
	left:20px;
}

.checkbox2{
	left:170px;
}

.checkbox3{
	left:320px;
}

.checkbox4{
	left:470px;
}

.label1{
	left:40px;
}

.label2{
	left:190px;
}

.label3{
	left:340px;
}

.label4{
	left:490px;
}
#text1{
	left-margin:500px;
}

#text2{
	left-margin:7px;
}

#my_dataviz{
	position:relative;
	margin-left:160px;
}

label{
	position:fixed;
	display:inline-block;
/*	margin-left:5%;*/
	font-size:0.8em;
	font-weight:100;
	color:#505050;
	/* To alight the text with checkbox*/
	margin-top:2px;
}

pre{
	padding-top:30px;
	margin-top:30px;
}

